<!DOCTYPE html>
<html lang="ru">
<head>
	<title>404 #prototype.map</title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="<%=assetFingerprint('/images/favicon.png') %>" type="image/png">
	<link rel='stylesheet' href="<%=assetFingerprint('/stylesheets/style.css') %>" />
</head>
<body>
	<section class="error404">
		<h2>404</h2>
		<p>
			Страницы нет!
		</p>
	</section>
</body>
</html>